{{define "title"}}Update{{end}}

{{define "main"}}
<form action="/account/password/update" method="POST">

    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
    <div>
        <label>Current password:</label>
        {{with .Form.FieldErrors.oldPasswordErr}}
            <label class="error">{{.}}</label>
        {{end}}
        <input type="password" name='oldPassword'>
    </div>

    <div>
        <label>New password:</label>
        {{with .Form.FieldErrors.newPasswordErr}}
            <label class="error">{{.}}</label>
        {{end}}
        <input type="password" name='newPassword'>
    </div>

    <div>
        <label>Confirm new password:</label>
        {{with .Form.FieldErrors.checkPasswordErr}}
            <label class="error">{{.}}</label>
        {{end}}
        <input type="password" name='checkPassword'>
    </div>

    <div>
        <input type="submit" value="Sumbit Password">
    </div>
</form>
{{end}}